/* Fonts: Livvic used for all pages */
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap');
body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: 'Livvic', sans-serif;
    text-align: left;
}
.nav-container {
    background:#f6f6f6;
    font-family: 'Livvic', sans-serif;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}

/* Applied Livvic to navbar text */
.navbar, .navbar * , .nav-container, .nav-container * {
    font-family: 'Livvic', sans-serif;
}

/* Ensure button text uses Livvic as well */
.button {
    font-family: 'Livvic', sans-serif;
}

/* Black for all navbar text */
.navbar .useritem {
    color: black !important;
    font-weight: normal !important;
}

.navbar .button {
    background-color: transparent !important;
    color: black !important;
    border-color: black !important;
    mix-blend-mode: normal !important;
}

.flash-container {
    background:#2a91d2;
    font-family: 'Livvic', sans-serif;
    color: aliceblue;
    font-size: 14px;
    height: 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally centers content (optional) */
}
a:hover {
	color:#2387D9;
}

.button {
    background-color: Black;
    color: white;
    mix-blend-mode: difference;
    width : fit-content;
    padding : 4px 8px 4px 8px;    
    font-size: 16px;
    margin : 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    mix-blend-mode: normal;
    background-color: #157dd3;
    color: white;
    cursor:pointer;
    
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    background-color: rgb(60, 193, 60);
    text-align: center;    
    font-size: 18px;
    font-weight: bold; 
    font-family: 'Livvic', sans-serif;
    padding: 3px;
    margin: 4px, 3px, 4px, 3px;
    text-transform: uppercase;
}

.postdesc {
    color: black;
    text-wrap: wrap;
}

.useritem{
    text-align: center;
    font-weight: bold;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: rgb(255, 0, 51); 
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 55px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor:pointer;
}

.postbody {
    text-align: center;
    color: rgb(27, 133, 18);
}


.postmessage {
    text-align: left;
    font-family: 'Livvic', sans-serif;
    padding: 3px;

}

.posttimestamp {
    font-family: 'Livvic', sans-serif;
    font-style: italic;
    padding: 3px;
}

.likecount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Livvic', sans-serif;
}

.formtitle{
    width: 400px;
    font-style: normal;
    margin: 4px, 3px, 4px, 3px;
    padding: 3px;
}

.formbody{
    width: 800px;
    height: 200px;
    font-style: normal;
    margin: 4px 3px 4px 3px;
    padding: 3px;
}

.formselect{
    width: 160;
    height: 30;
    font-style: normal;
    margin: 4px, 3px, 4px, 3px;
    padding: 3px;
    background-color: lightgray;
    border-color: darkgray;
}

.postlist{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    vertical-align: middle;


}

@media screen and (min-width: 1200px){
.post-box{
    display: flex;
    vertical-align: middle;
    background-color: rgb(228, 241, 246);
    width: 30%;
    margin: 4px, 3px, 4px, 3px;
    --marginsize: 3px ; 
    margin-top: var(--marginsize); 
    margin-bottom: var(--marginsize);
    margin-left: var(--marginsize);
    margin-right: var(--marginsize);
    padding: 10px;
}
}

@media screen and (min-width: 800px) and (max-width:1200px){
.post-box{
    display: flex;
    vertical-align: middle;
    background-color: rgb(228, 241, 246);
    width: 46%;
    margin: 4px, 3px, 4px, 3px;
    --marginsize: 3px ; 
    margin-top: var(--marginsize); 
    margin-bottom: var(--marginsize);
    margin-left: var(--marginsize);
    margin-right: var(--marginsize);
    padding: 10px;
}
}

@media screen and (max-width:800px){
.post-box{
    display: flex;
    vertical-align: middle;
    background-color: rgb(228, 241, 246);
    width: 99%;
    margin: 4px, 3px, 4px, 3px;
    --marginsize: 3px ; 
    margin-top: var(--marginsize); 
    margin-bottom: var(--marginsize);
    margin-left: var(--marginsize);
    margin-right: var(--marginsize);
    padding: 10px;
}
}


.tagitem {
    align-items: center;
    justify-content: center; /* Horizontally centers content (optional) */

    --marginsize: 3px ; 
    margin-top: var(--marginsize); 
    margin-bottom: var(--marginsize);
    margin-left: var(--marginsize);
    margin-right: var(--marginsize);

    padding: 4px;

    --bordersize: 2px ; 
    --borderstyle: solid ; 
    --bordercolor: black ; 
    border-top: var(--bordersize) var(--borderstyle) var(--bordercolor);
    border-bottom: var(--bordersize) var(--borderstyle) var(--bordercolor);
    border-left: var(--bordersize) var(--borderstyle) var(--bordercolor);
    border-right: var(--bordersize) var(--borderstyle) var(--bordercolor);

    background-color: #b0d3d1;

    }


.forminput {
    width: 500px;
    padding: 3px;
    /* size: 200px; */

    --marginsize: 3px ; 
    margin-top: var(--marginsize); 
    margin-bottom: var(--marginsize);
    margin-left: var(--marginsize);
    margin-right: var(--marginsize);

    font-family: 'Livvic', sans-serif;
}

.logininput {
    width: 500px;
    padding: 3px;
    /* size: 200px; */

    --marginsize: 3px ; 
    margin-top: var(--marginsize); 
    margin-bottom: var(--marginsize);
    margin-left: var(--marginsize);
    margin-right: var(--marginsize);

    font-family: 'Livvic', sans-serif;
}