{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
     <form action="" method="POST">

        {{ form.hidden_tag() }}

        {{ form.username.label }} <br>
        {{ form.username(class="forminput") }}
        {% for error in form.username.errors %}
            {{ error }} <br>
        {% endfor %}
        <br> 
        {{ form.password.label }} <br>
        {{ form.password(class="forminput") }}
        {% for error in form.password.errors %}
            {{ error }} <br>
        {% endfor %}
        <br>

        {{ form.remember_me.label }}
        {{ form.remember_me }} <br>

        {{ form.submit.label }} <br>
        {{ form.submit(class="button") }}


     </form>

    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}

